<div class="eqLogic eqLogic-widget" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <center style="#hideEqLogicName#">#name_display# 
  	<span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span>
  </center>
  <div style="float: center;" >
  	 <center>
		<!-- Off -->
		<div class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#Off_id#" data-version="#version#" style="float: left; margin-left:15px;">
			<span class="input-group-btn" title="Mode OFF" >
            	<a class="btn btn-default off" style="background-color:#background-color# !important;border-color : transparent !important;">
            		<i class="fa fa-power-off" aria-hidden="true"></i>
            	</a>
            </span>
			<script>
            	$('.cmd[data-cmd_id=#Off_id#] .off').on('click', function() {
 					jeedom.cmd.execute({id: '#Off_id#'});
  				});
           	</script>
		</div>

	  <!-- Confort -->
		<div class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#Confort_id#" data-version="#version#" style="float: left; margin-left:15px;">
           	<span class="input-group-btn" title="Mode Confort" >
           		<a class="btn btn-default confort" style="background-color:#background-color# !important;border-color : transparent !important;">
           			<i class="fa fa-sun-o" aria-hidden="true"></i>
           		</a>
           	</span>
			<script>
            	$('.cmd[data-cmd_id=#Confort_id#] .confort').on('click', function() {
 					jeedom.cmd.execute({id: '#Confort_id#'});
  				});
          	</script>
		</div>

	  <!-- Eco -->
		<div class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#Eco_id#" data-version="#version#" style="float: left; margin-left:15px;">
           	<span class="input-group-btn" title="Mode Eco" >
           		<a class="btn btn-default eco" style="background-color:#background-color# !important;border-color : transparent !important;">
           			<i class="fa fa-moon-o" aria-hidden="true"></i>
           		</a>
           	</span>
			<script>
            	$('.cmd[data-cmd_id=#Eco_id#] .eco').on('click', function() {
 					jeedom.cmd.execute({id: '#Eco_id#'});
  				});
          	</script>
		</div>

	  <!--  Hors Gel -->
		<div class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#HorsGel_id#" data-version="#version#" style="float: left; margin-left:15px;">
           	<span class="input-group-btn" title="Mode Hors Gel" >
           		<a class="btn btn-default horsgel" style="background-color:#background-color# !important;border-color : transparent !important;">
           			<i class="fa fa-snowflake-o" aria-hidden="true"></i>
           		</a>
           	</span>
			<script>
            	$('.cmd[data-cmd_id=#HorsGel_id#] .horsgel').on('click', function() {
 					jeedom.cmd.execute({id: '#HorsGel_id#'});
  				});
          	</script>
		</div>

  	 <!-- Etat programmation -->
	<div class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="" style="float: left; margin-left:15px;" data-version="#version#">
    		<span class="input-group-btn prog#etatprog_id#" title="" >
    			<a class="btn btn-default refresh" style="background-color:#background-color# !important;border-color : transparent !important;">
    			<i class="programmation" aria-hidden="true"></i>
    			</a>
    		</span>
   		 <script>
        	jeedom.cmd.update['#etatprog_id#'] = function(_options){
  				if(_options.display_value == 1) {
					$('.prog#etatprog_id#').attr('title', 'Désactiver la programmation');
                    $('.prog#etatprog_id# i.programmation').empty().append('<i class="fa fa-toggle-on progoff" style="font-size : 1.1em;color: #00FF00;"></i>');
                    $('.prog#etatprog_id#').parent().attr('data-cmd_id', '#ProgOff_id#');
                }
  				else {
					$('.prog#etatprog_id#').attr('title', 'Activer la programmation');
                    $('.prog#etatprog_id# i.programmation').empty().append('<i class="fa fa-toggle-off progon" style="font-size : 1.1em;color: #FF0000;"></i>');
                    $('.prog#etatprog_id#').parent().attr('data-cmd_id', '#ProgOn_id#');
				}
        	}
        	jeedom.cmd.update['#etatprog_id#']({display_value:'#etatprog_cmd#'});

            $('.cmd[data-cmd_id=#ProgOn_id#] .progon').on('click', function () {
              jeedom.cmd.execute({id: '#ProgOn_id#'});
            });

            $('.cmd[data-cmd_id=#ProgOff_id#] .progoff').on('click', function () {
              jeedom.cmd.execute({id: '#ProgOff_id#'});

  			});
  		</script>
    </div>

  
	  <span class="statusCmd" style="position : absolute;left : 5px; bottom:5px; width : 30px;z-index: 1030;"></span>
	  </center>
  </div>

<script>
			jeedom.cmd.update['#EtatConsigne_id#'] = function(_options){
          		    $('.cmd[data-cmd_id=#EtatConsigne_id#]').attr('title','Collectée le '+_options.collectDate);
                    $('.cmd[data-cmd_id=#Confort_id#] .confort i.fa-sun-o').css("color","");
           			$('.cmd[data-cmd_id=#Eco_id#] .eco i.fa-moon-o').css("color","");
           			$('.cmd[data-cmd_id=#HorsGel_id#] .horsgel i.fa-snowflake-o').css("color","");
           			$('.cmd[data-cmd_id=#Off_id#] .off i.fa-power-off').css("color","");
          
            		if (_options.display_value == '0') {
              			$('.cmd[data-cmd_id=#Confort_id#] .confort i.fa-sun-o').css("color","#00FF00"); /// Mode Confort
                    }else if (_options.display_value == '1') {
              			$('.cmd[data-cmd_id=#Eco_id#] .eco i.fa-moon-o').css("color","#00FF00");  /// Mode Eco
 					}else if (_options.display_value == '2') {
              			$('.cmd[data-cmd_id=#HorsGel_id#] .horsgel i.fa-snowflake-o').css("color","#00FF00");/// Mode HorsGel
 					}else {
              			$('.cmd[data-cmd_id=#Off_id#] .off i.fa-power-off').css("color","#00FF00");  /// Mode Off
            		}
        		}
				jeedom.cmd.update['#EtatConsigne_id#']({display_value:'#EtatConsigne_cmd#',collectDate:'#EtatConsigne_CollectDate#'});
			</script>
</div>